@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.cartSlider-section{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    padding: 30px 0px;
}
.cart_slider_Main .slick-slide{
    padding-right: 20px !important;
}
.cart_slider_Main .item{
    height: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_slider_Main .item .info{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slick-arrow{
    position:absolute;
    top:25%;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50 !important;
    z-index: 100 !important;
}
.slick-arrow.slick-next{
    right: 2% !important;
}
.slick-arrow.slick-prev{
    left: 2% !important;
}